version: '3.9'

services:
  openobserve:
    image: public.ecr.aws/zinclabs/openobserve:${OO_IMAGE_TAG:-0.9.6}
    container_name: openobserve
    networks:
      - log-tell
    environment:
      - ZO_ROOT_USER_EMAIL=${OO_ROOT_EMAIL:-admin@example.com}
      - ZO_ROOT_USER_PASSWORD=${OO_ROOT_PASSWORD:-StrongPasswordHere}
      - ZO_DATA_DIR=/data
      - ZO_QUERY_THREAD_POOL_SIZE=${OO_QUERY_THREAD_POOL_SIZE:-16}
      - ZO_HTTP_PORT=${OO_HTTP_PORT:-5080}
      - ZO_INGESTION_PORT=${OO_INGESTION_PORT:-5081}
    volumes:
      - ./data:/data
    ports:
      - "${OO_HTTP_PORT:-5080}:${OO_HTTP_PORT:-5080}"     # Web UI, API
      - "${OO_INGESTION_PORT:-5081}:${OO_INGESTION_PORT:-5081}"   # Ingest API
    restart: unless-stopped

networks:
  log-tell:
    name: log-tell
